<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <script>
        window.pageConfig = {
            userInfo: <%-user ? JSON.stringify(user) : "\"\""%>
        };
    </script>
    <link rel=icon href=/favicon.ico>
    <title>shopmanage</title>
    <link href=/js/chunk-043d81ba.8bc155f7.js rel=prefetch>
    <link href=/js/chunk-141b385f.8bf1fa69.js rel=prefetch>
    <link href=/js/chunk-2596511a.99c4a1ec.js rel=prefetch>
    <link href=/js/chunk-360052d2.04bd1bd8.js rel=prefetch>
    <link href=/js/chunk-41e61523.ea9d82ec.js rel=prefetch>
    <link href=/js/chunk-4bbcaea2.9f7d5f98.js rel=prefetch>
    <link href=/js/chunk-59d7933f.7e2b506d.js rel=prefetch>
    <link href=/js/chunk-59fa91a3.b2288f0e.js rel=prefetch>
    <link href=/js/chunk-69df21fa.dfacbb4d.js rel=prefetch>
    <link href=/js/chunk-6eeb803b.2d0221b6.js rel=prefetch>
    <link href=/js/chunk-79409d2d.71771ed4.js rel=prefetch>
    <link href=/js/chunk-7dc504af.915b5502.js rel=prefetch>
    <link href=/js/chunk-86bf8bf0.04f2060c.js rel=prefetch>
    <link href=/js/chunk-88aa1618.4b6b1891.js rel=prefetch>
    <link href=/js/chunk-a8d292b4.cafd7b23.js rel=prefetch>
    <link href=/js/app.61c45b7a.js rel=preload as=script>
    <link href=/js/chunk-vendors.07ff5a1f.js rel=preload as=script>
</head>

<body><noscript><strong>We're sorry but shopmanage doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
    <div id=app></div>
    <script src=/js/chunk-vendors.07ff5a1f.js></script>
    <script src=/js/app.61c45b7a.js></script>
</body>

</html>